.container {
  width: 96%;
  margin: 50px auto;
  margin-top: 120px;
  max-width: 1000px;
}

header{
  background: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

a{
  color: inherit;
  text-decoration: none;
}

header ul li{
  list-style: none;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}

header ul{
  display: flex;
  gap: 1rem;
}

.grid-4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; 
}
.grid-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; 
}

@media(max-width: 500px){
  .grid-4{
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-2{
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-4 img, .grid-2 img{
  width: 100%;
}

input[type="search"] {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #a3a3a3;
  padding: 7px;
  outline: none;
}

.count{
  background: red;
  width:18px;
  height: 18px;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

button {
  height: 30px;
  border: 0;
  background: #fecc13;
  border-radius: 5px;
  padding: 0 12px;
  font-weight: 600;
  cursor: pointer;
}

.logo{
  color: #fecc13
}